@import './libs/bootstrap-reboot.min'; //библиотека bootstrap
@import './libs/animate';       // анимации
@import './base/fonts';         // шрифты
@import './base/mixins';        // миксины
@import './base/variables';     // переменные
@import './base/animations';    // работа с анимациями

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
// стили для сайта(секций)
@import './blocks/header';


// медиа запросы
@import './base/media';

